img {
    width: 100%;
    padding-bottom: 10px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.home{
    position: fixed;
    width: 80px;
    z-index: 999;
    bottom: 65%;
    /* right: 10px; */
    /* padding: 15px; */
}